body{
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Outfit';
}

p , a, span, small, strong {
    font-family: 'Outfit';
}

.button{
    background: transparent;
    text-transform: uppercase;
    border: 1px solid #fff;
    width: 134px;
    height: 55px;
    position: absolute;
    top: 80%;
    right: 300px;
    color: #fff;
    font-weight: 600;
}


.button2{
    background: transparent;
    text-transform: uppercase;
    border: 1px solid #fff;
    width: 134px;
    height: 55px;
    position: absolute;
    top: 80%;
    
    color: #fff;
    font-weight: 600;
}

.women{
    position: absolute;
    top: 70%;
    left: 240px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 64px;
    color: #fff;
    line-height: 80px;
    letter-spacing: 4px;
}
.women span{
    color: #D7A116;
}

@media (max-width: 768px) {
    .button{
        left: 100px;
    }

    .button2{
        top: 320px;
    }
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px) {
    .display{
        flex-direction: column;
    }
}


.herobody{
    margin-top: 60px;
}
.herobody h5{
    text-transform: uppercase;
    font-size: 14px;
    color: #9D9D9D;
}

.herobody p {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 50px;
    color: #000;
}

.back h5{
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
    line-height: 50px;
    position: relative;
    bottom: 24%;
    margin-left: 20px;
}


.heading h4{
    letter-spacing: 20%;
    font-weight: 200;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.heading h3{
    letter-spacing: 5%;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 80px;
}

.men-trad{
    margin-bottom: 81px;
}


.men-trad span{
    color: #D7A116;
}

.men-trad h4{
    font-weight: 500;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: 5%;
}


.no1{
    border: 1px solid #000;
    width: 105px;
    height: 44px;
    padding: 7px 30px 14px 30px;
}

.icon-arrow{
    margin-left: 15px;
}

.about-hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../component/images/about.png");
    height: 100vh;
}

@media (max-width: 768px){
    .about-hero{
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.about-hero h4, p{
    color: #fff;
}

.hero-spacing{
    margin-top: 200px;
}

.hero-spacing h4{
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 45px;
}

.hero-spacing p{
    margin-bottom: 70px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.abt-image{
    margin-top: 50px;
}

@media (max-width: 1000px){
    .abt-image{
        display: none;
    }
}

@media (max-width: 768px){
    .hero-spacing{
        margin-top: 100px;
    }
}

.abt-btn{
    border: none;
    background-color: #D7A116;
    width: 220px;
    height:60px;
    text-transform: uppercase;
    color: #fff;
}


.sec-abt{
    margin-top: 65px;
}

.sec-abt h4{
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    margin-bottom:5px;
}

.sec-abt p{
    color: #9D9D9D;
    font-size: 14px;
}

.third-abt{
    margin-bottom: 50px;
}
.third-abt h4{
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    margin-bottom:5px;
}

.third-abt p{
    color: #9D9D9D;
    font-size: 14px;
}